.parent-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 88vh; /* Ensure full height */
    text-align: center; /* Center text */
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-wrap: wrap; /* Ensure responsiveness */
    width: 100%;
  }
  
      