:root {
    --card-bg-light: #f9f9f9;
    --card-bg-dark: #3d3d3a; /* Darker background for dark mode */
    --text-light: #1c1a1a; /* Dark text for light mode */
    --text-dark: #1a1919; /* White text for dark mode */
    --text-icon-dark: #0c0c0c;
    font-weight: bold;
  }
  
  .DataRibbon .MuiPaper-root {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(244, 242, 242, 0.667);
    background-color: var(--card-bg-light);
    color: var(--text-light); /* Default text color */
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Apply dark mode styles */
  .dark-mode .DataRibbon .MuiPaper-root {
    background-color: var(--card-bg-dark);
    color: var(--text-dark);
  }




  